<template>
  <div class="grid grid-cols-4 md:grid-cols-6 gap-6 p-10">
    <!-- 1 -->
    <figure class="col-span-2 relative group overflow-hidden">
      <NuxtImg
        src="img/manda1.jpg"
        alt=""
        class="w-full group-hover:scale-105 group transition-all duration-200"
      />
      <figcaption
        class="flex w-full p-3 absolute -bottom-20 left-0 bg-slate-900/60 text-white justify-between items-center invisible group-hover:bottom-0 group-hover:visible transition-all duration-200"
      >
        AMANDA RIZQIA ZAHRO ❤️
      </figcaption>
    </figure>
    <!-- 2 -->
    <figure class="col-span-2 relative group overflow-hidden">
      <NuxtImg
        src="img/manda2.jpg"
        alt=""
        class="w-full group-hover:scale-105 group transition-all duration-200"
      />
      <figcaption
        class="flex w-full p-3 absolute -bottom-20 left-0 bg-slate-900/60 text-white justify-between items-center invisible group-hover:bottom-0 group-hover:visible transition-all duration-200"
      >
        AMANDA RIZQIA ZAHRO ❤️
      </figcaption>
    </figure>
    <!-- 3 -->
    <figure class="col-span-2 relative group overflow-hidden">
      <NuxtImg
        src="img/manda3.jpg"
        alt=""
        class="w-full group-hover:scale-105 group transition-all duration-200"
      />
      <figcaption
        class="flex w-full p-3 absolute -bottom-20 left-0 bg-slate-900/60 text-white justify-between items-center invisible group-hover:bottom-0 group-hover:visible transition-all duration-200"
      >
        AMANDA RIZQIA ZAHRO ❤️
      </figcaption>
    </figure>
    <!-- 4 -->
    <figure class="col-span-2 relative group overflow-hidden">
      <NuxtImg
        src="img/manda4.jpg"
        alt=""
        class="w-full group-hover:scale-105 group transition-all duration-200"
      />
      <figcaption
        class="flex w-full p-3 absolute -bottom-20 left-0 bg-slate-900/60 text-white justify-between items-center invisible group-hover:bottom-0 group-hover:visible transition-all duration-200"
      >
        AMANDA RIZQIA ZAHRO ❤️
      </figcaption>
    </figure>
    <!-- 5 -->
    <figure class="col-span-2 relative group overflow-hidden">
      <NuxtImg
        src="img/manda5.jpg"
        alt=""
        class="w-full group-hover:scale-105 group transition-all duration-200"
      />
      <figcaption
        class="flex w-full p-3 absolute -bottom-20 left-0 bg-slate-900/60 text-white justify-between items-center invisible group-hover:bottom-0 group-hover:visible transition-all duration-200"
      >
        AMANDA RIZQIA ZAHRO ❤️
      </figcaption>
    </figure>
    <!-- 6 -->
    <figure class="col-span-2 relative group overflow-hidden">
      <NuxtImg
        src="img/manda6.jpg"
        alt=""
        class="w-full group-hover:scale-105 group transition-all duration-200"
      />
      <figcaption
        class="flex w-full p-3 absolute -bottom-20 left-0 bg-slate-900/60 text-white justify-between items-center invisible group-hover:bottom-0 group-hover:visible transition-all duration-200"
      >
        AMANDA RIZQIA ZAHRO ❤️
      </figcaption>
    </figure>
  </div>
</template>
