<template>
  <div class="carousel w-full">
    <div id="slide1" class="carousel-item relative w-full">
      <div class="flex justify-center w-full">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=1xw:0.84415xh;center,top"
          class="w-[auto] h-[25rem]"
        />
      </div>

      <div
        class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
      >
        <a href="#slide4" class="btn btn-circle">❮</a>
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
      <div class="flex justify-center w-full">
        <img
          src="https://cdn11.bigcommerce.com/s-ubwzbv1de6/product_images/uploaded_images/benefits-of-having-a-rooste.jpg"
          class="w-[auto] h-[25rem]"
        />
      </div>
      <div
        class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
      >
        <a href="#slide1" class="btn btn-circle">❮</a>
        <a href="#slide3" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
      <div class="flex justify-center w-full">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/how-to-keep-ducks-call-ducks-1615457181.jpg?resize=2048:*"
          class="w-[auto] h-[25rem]"
        />
      </div>
      <div
        class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
      >
        <a href="#slide2" class="btn btn-circle">❮</a>
        <a href="#slide4" class="btn btn-circle">❯</a>
      </div>
    </div>
  </div>
</template>
