<template>
  <nav
    class="md:flex hidden justify-center items-center pt-10 madimi bg-slate-900"
  >
    <main class="container">
      <div class="bg-[#232732] p-4 rounded-t-2xl">
        <div class="grid grid-cols-3 place-items-center">
          <!-- <button class="btn w-1/2 shadow-inner shadow-slate-500 rounded-full">
            About!
          </button>
          <button class="btn w-1/2 shadow-inner shadow-slate-500 rounded-full">
            Me!
          </button>
          <button class="btn w-1/2 shadow-inner shadow-slate-500 rounded-full">
            Photo!
          </button> -->
        </div>
      </div>
    </main>
  </nav>
  <slot />
  <nav class="flex justify-center items-center pt-10 madimi bg-slate-900"></nav>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

.madimi {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
</style>
