<template>
  <main class="madimi bg-slate-900 p-4 md:p-0">
    <div class="flex flex-col justify-center items-center">
      <!-- hero section -->
      <section
        class="container bg-[#232732] md:h-screen pt-12 rounded-t-2xl md:rounded-none"
      >
        <div class="flex flex-col justify-center items-center">
          <NuxtImg src="img/manda.png" class="h-[25rem] md:h-[35rem]" />
          <div class="p-4 text-center w-full">
            <h1 class="text-3xl font-bold mb-5">Hi!</h1>
            <h1 class="text-5xl font-semibold">
              <span class="text-5xl md:text-6xl font-semibold"
                >Amnda Rizqia Zahro</span
              >
            </h1>
          </div>
        </div>
      </section>
      <!-- end hero -->
      <!-- About Me -->
      <section class="container bg-[#232732]">
        <div class="flex justify-center">
          <div
            class="grid grid-cols-1 md:grid-cols-2 place-items-center p-10 w-full"
          >
            <NuxtImg
              src="img/manda2.png"
              class="h-[25rem] md:h-[35rem] rounded-2xl"
            />
            <div
              class="border-2 border-white rounded-2xl h-[auto] w-full mt-5 md:mt-0 md:w-[35rem]"
            >
              <div class="text-start m-5 text-2xl text-white">
                <h1>Dear My Honey! ❤️</h1>
                <h1 class="text-justify text-lg md:text-xl mt-2">
                  Hi sayangku cintaku semoga hari harimu selalu indah ya
                  sayangku ❤️ aku sayang banget sama bebe i love you very very
                  much !! bebeku cintaku manisku , Amanda rizqia zahro sayangku
                  ini , orangnya cantik , imut , gemesin kadang ngeselin kalau
                  ngambek suka ga bisa dikendaliin , yang pasti juga masakannya
                  enak banget apalagi ayam kecap sama soup nya enak banget,
                  apapun yang dimasak aku suka bangettt , aku sayang banget sama
                  Bebe love you be ❤️
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end About me -->
      <!-- Album -->
      <section class="container bg-[#232732]">
        <div class="p-5 flex flex-col justify-center items-center mt-10">
          <h1 class="text-7xl">PAP BEBE</h1>
          <NuxtImg src="comp/garis.png" class="mt-2 w-full" />
        </div>
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-2xl text-center">
            Kumpulan Foto Foto bebe nich ! bakalnya aku simpen disini semua dong
            ❤️
            <br />Maaf ya be ini baru sementara ❤️
          </h1>
          <galeri />
        </div>
      </section>
      <!-- Album  -->
      <!-- Favorite -->
      <section class="container bg-[#232732] rounded-b-2xl">
        <div class="p-5 flex flex-col justify-center items-center mt-10">
          <h1 class="text-7xl">Favorite Bebe</h1>
          <NuxtImg src="comp/garis.png" class="mt-2 w-full" />
        </div>
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-xl md:text-2xl text-center">
            Kumpulan kesukaan bebe nich aku taruh sini ❤️
          </h1>
          <div class="p-4">
            <Galeri2 />
          </div>
        </div>
      </section>
      <!-- Favorite  -->
    </div>
  </main>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

.madimi {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
</style>
